.orange-color{
  color: #fcbe7c;
}

.white-color{
  color: white;
}

.gray-color{
  color: gray;
}

.font-family{
  font-family: 'Sofia Sans Semi Condensed', sans-serif;
}

.red-color{
  color: #ef8585;
}

body{
  background-color: #f7f7f7;
}

a{text-decoration: none;}

.button{
  transition: 0.4s;
  background-color: #fcbe7c;
}

.button:hover{
  transition: 0.4s;
  background-color: #fab366;
}

.button-clicked{
  background-color: #fab366;
}

#poll:hover{
  transition: 0.4s;
  margin-top: 10px;
}

#poll{
  transition: 0.4s;
}

.green-color{
  color: #7ec77f;
}


.orange-backgroundcolor{
  transition: 0.4s;
  background-color: #fcbe7c;
}

.white-backgroundcolor{
  background-color: white;
}